{% extends "index.html" %}


{% block title %}  Input Data {% endblock %}


{% block content %}
    <div class="container">
        <h2 class="mt-5">Input Values</h2>
        <form action="{{ url_for('Inputdata')}}" method="POST" novalidate> 
            {{ form.hidden_tag() }}
            <div> 
                <table>
                    {% for feature in Features.numerical_features %}
                    <tr>
                        <td>{{ form[feature].label }}</td>
                        <td>{{ form[feature]() }}</td>
                        <td>
                            {% for error in form[feature].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            
            <br>
            {{ form.submit() }}
        </form>

    </div> 
{% endblock %}   

