<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form class="form-horizontal" action="{{ url_for('predict')}}" method="post" id="contact_form">
            <fieldset>
                <legend>
                    <h2><b>Heart Disease Prediction</b></h2>
                    <p class="text-muted">A web app to predict heart disease probability, built with Flask and deployed on Heroku.</p>
                </legend>

                <div class="form-group row">
                    <label for="age" class="col-sm-4 col-form-label">Age</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            </div>
                            <input name="age" placeholder="Age" class="form-control" type="text" id="age">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sex" class="col-sm-4 col-form-label">Sex</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-gender-ambiguous"></i></span>
                            </div>
                            <select id="sex" name="sex" class="form-control">
                                <option selected>----select option----</option>
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="cp" class="col-sm-4 col-form-label">Chest Pain Type</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-heart"></i></span>
                            </div>
                            <select id="cp" name="cp" class="form-control">
                                <option selected>----select option----</option>
                                <option value="0">Typical Angina</option>
                                <option value="1">Atypical Angina</option>
                                <option value="2">Non-anginal Pain</option>
                                <option value="3">Asymptomatic</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="trestbps" class="col-sm-4 col-form-label">Resting Blood Pressure</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-heart-pulse-fill"></i></span>
                            </div>
                            <input id="trestbps" name="trestbps" placeholder="94-200 mmHg" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="chol" class="col-sm-4 col-form-label">Serum Cholesterol</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-activity"></i></span>
                            </div>
                            <input id="chol" name="chol" placeholder="126-564 mg/dl" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fbs" class="col-sm-4 col-form-label">Fasting Blood Sugar</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-droplet"></i></span>
                            </div>
                            <select id="fbs" name="fbs" class="form-control">
                                <option selected>----select option----</option>
                                <option value="1">Greater than 120 mg/dl</option>
                                <option value="0">Less than 120 mg/dl</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="restecg" class="col-sm-4 col-form-label">Resting ECG Results</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-heart-pulse"></i></span>
                            </div>
                            <select id="restecg" name="restecg" class="form-control">
                                <option value="0">Normal</option>
                                <option value="1">ST-T wave abnormality</option>
                                <option value="2">Left ventricular hypertrophy</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="thalach" class="col-sm-4 col-form-label">Max Heart Rate</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-heart-fill"></i></span>
                            </div>
                            <input id="thalach" name="thalach" placeholder="71-202 bpm" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exang" class="col-sm-4 col-form-label">Exercise-induced Angina</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-bicycle"></i></span>
                            </div>
                            <select id="exang" name="exang" class="form-control">
                                <option selected>----select option----</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="oldpeak" class="col-sm-4 col-form-label">ST Depression</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-graph-up"></i></span>
                            </div>
                            <input id="oldpeak" name="oldpeak" placeholder="0-6.2" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="slope" class="col-sm-4 col-form-label">Slope of ST Segment</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-graph-down"></i></span>
                            </div>
                            <select id="slope" name="slope" class="form-control">
                                <option selected>----select option----</option>
                                <option value="0">Upsloping</option>
                                <option value="1">Flat</option>
                                <option value="2">Downsloping</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ca" class="col-sm-4 col-form-label">Number of Major Vessels</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-water"></i></span>
                            </div>
                            <input id="ca" name="ca" placeholder="0-4" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="thal" class="col-sm-4 col-form-label">Thalassemia</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-person-heart"></i></span>
                            </div>
                            <select id="thal" name="thal" class="form-control">
                                <option selected>----select option----</option>
                                <option value="0">Normal</option>
                                <option value="1">Fixed Defect</option>
                                <option value="2">Reversible Defect</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-warning btn-lg">Submit <i class="bi bi-send"></i></button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
