{% extends "index.html" %}

{% block title %}  Register {% endblock %}


{% block content %} 
    <h2 class="mt-5">Register</h2>
    <form action="{{ url_for('Register')}}" method="POST" novalidate>
        {{ form.csrf_token }}
            
        <table>
            <tr>
                <td class="form-group">{{ form.username.label(class="form-label") }} </td>
                <td> {{ form.username(class="form-control") }} </td>
                <td>
                    {% for error in form.username.errors %}
                            <li>{{error}}</li>
                    {%endfor%}
                </td>
            </tr>
            <tr>
                <td class="form-group"> {{ form.email.label(class="form-label") }} </td>
                <td> {{ form.email(class="form-control") }} </td>
                <td>
                    {% for error in form.email.errors %}
                            <li>{{error}}</li>
                    {%endfor%}
                </td>
            </tr>
            <tr>
                <td class="form-group"> {{ form.password.label(class="form-label") }} </td>
                <td> {{ form.password(class="form-control") }} </td>
                <td>
                    {% for error in form.password.errors %}
                            <li>{{error}}</li>
                    {%endfor%}
                </td>
            </tr>
            <tr>
                <td class="form-group">{{ form.confirm_password.label(class="form-label") }} </td>
                <td>{{ form.confirm_password(class="form-control") }} </td>
                <td>
                    {% for error in form.confirm_password.errors %}
                            <li>{{error}}</li>
                    {%endfor%}
                </td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-primary">{{ form.submit.label }}</button> </td>
            </tr>
        </table>
    </form>
 
 
{% endblock %}   
 
